<footer class="page-footer font-small unique-color-dark pt-4 credits-footer">

    <div style="text-align: center">
      <h3>
        <a class="footer-link" target="_blank" href="https://github.com/sebaF96/credits">
          Visit <i class="fab fa-github"></i>
        </a>
      </h3>
    </div>
    <div class="footer-copyright text-center py-3">
      Made withï¸ Ruby on Rails
    </div>

</footer>
