<% content_for(:title) do %>
  <%= current_user.name %>'s stats
<% end %>

<% @subjects.each do |s| %>
  <p> <%= s.subject.name %> (<%= s.qualification %>)</p>
<% end %>

<div class="container">

  <div class="row">
    <div class="col-md-5">

      <div class="jumbotron" style="background-color: #212529; color: white; max-height: 338px">
        <h1 class="display-4" style="font-size: 120px; text-align: center; color: #36e836"><b> 129 </b> </h1>
        <hr>
        <p class="lead" style="text-align: center; font-size: 50px">Creditos</p>
      </div>

    </div>
    <div class="col-md-7">
      <div class="jumbotron" style="background-color: #212529; color: white">
        <h1 class="display-4"><b>23</b> aprobadas</h1>
        <p class="lead">17 restantes</p>
        <hr class="my-4">
        <p>49.6 % de la carrera terminada</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 46.9%"></div>
        </div>
      </div>
    </div>
  </div>
</div>