<% content_for(:title) do %>
  <%= current_user.name %>'s stats
<% end %>

<div class="container">

  <div class="row">
    <div class="col-md-5">

      <div class="jumbotron" id="main-jumbotron">
        <h1 class="display-4"><b> 129 </b> </h1>
        <hr>
        <p class="lead">Creditos</p>
      </div>

    </div>
    <div class="col-md-7">
      <div class="jumbotron">
        <h1 class="display-4"><b>23</b> aprobadas</h1>
        <p class="lead">17 restantes</p>
        <hr class="my-4">
        <p>49.6 % de la carrera terminada</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 46.9%"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="accordion" id="accordionSubjects">

        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Primero <b>(4)</b>
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSubjects">
            <div class="card-body">
              <table class="table table-hover table-sm">
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Creditos</th>
                  <th>Nota</th>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>
                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

              </table>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Segundo <b>(2)</b>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSubjects">
            <div class="card-body">

              <table class="table table-hover table-sm">
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Creditos</th>
                  <th>Nota</th>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>
                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Tercero <span class="fa fa-check"></span>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSubjects">
            <div class="card-body">

              <table class="table table-hover table-sm">
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Creditos</th>
                  <th>Nota</th>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>
                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

              </table>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Cuarto <b>(0)</b>
              </button>
            </h2>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSubjects">
            <div class="card-body">
              <table class="table table-hover table-sm">
                <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Creditos</th>
                  <th>Nota</th>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>
                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>
                  <td>Estan</td>
                </tr>

              </table>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Quinto <b>(1)</b>
              </button>
            </h2>
          </div>

          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSubjects">
            <div class="card-body">
              <table class="table table-hover table-sm">
                <tr>

                  <th>Nombre</th>
                  <th>Creditos</th>
                  <th>Nota</th>
                </tr>

                <tr>

                  <td>Tecnologia Ciencia y Sociedad</td>
                  <td>3</td>
                  <td>8</td>
                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>

                </tr>

                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>

                </tr>
                <tr>
                  <td>Hola</td>
                  <td>Amigos</td>
                  <td>Como</td>

                </tr>

              </table>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>
</div>