<table class="table table-dark">

  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
    <th>Año</th>
    <th>#</th>
  </tr>


<% @subjects.each do |s| %>
  <tr>
    <td> <%= s.code %> </td>
    <td> <%= s.name %> </td>
    <td> <%= s.year %> </td>
    <td>
      <%= link_to new_exam_path(s.code), class: "btn btn-dark" do %>
        Approve
      <% end %>
    </td>

  </tr>

<% end %>

</table>