div.jumbotron {
  background-color: #212529;
  color: white;
}

#main-jumbotron {
  max-height: 349px;
}

#main-jumbotron h1 {
  font-size: 120px;
  color: #43d543;
  text-align: center;
}

#main-jumbotron p {
  text-align: center;
  font-size: 50px
}

th {
  font-weight: bold;
}

tr > td {
  font-size: small;
}