
nav.navbar-dark {
  background-color: #222;
}

ul > li > a.btn-dark {
  background-color: #222;
  border: none;
}

ul > li > a.btn-dark:hover {
  background-color: #980905;

}

.table-header {
  background-color: #1c1919;
  color: white;
}